@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("#eventscalendar").wijevcal();
    });
</script>
<div id="eventscalendar"></div>