
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("#eventscalendar").wijevcal({
            visibleCalendars: ["My", "Work"],
            dataStorage: {
                addEvent: _addEvent,
                updateEvent: _updateEvent,
                loadEvents: _loadEvents,
                addCalendar: _updateCalendar,
                updateCalendar: _updateCalendar,
                deleteEvent: _deleteEvent,
                deleteCalendar: function (obj, successCallback, errorCallback) {
                    successCallback();
                    //errorCallback("Unable to delete calendar");
                },
                loadCalendars: function (successCallback, errorCallback) {
                    var calendars = [{ name: "My", id: "My", color: "red" },
									 { name: "Work", id: "Work", color: "blue"}];
                    successCallback(calendars);
                }
            }
        });
    });

    function _addEvent(obj, successCallback, errorCallback) {
        $.ajax({
            type: "POST",
            url: "/Calendar/Add",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj)
        }).done(function (msg) {
            if (msg.success) {
                successCallback();
            } else {
                errorCallback("Unable to add event");
            }
        });
    }
    function _updateEvent(obj, successCallback, errorCallback) {
        $.ajax({
            type: "POST",
            url: "/Calendar/Update",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj)
        }).done(function (msg) {
            if (msg.success) {
                successCallback();
            } else {
                errorCallback("Unable to update event");
            }
        });
    }
    function _deleteEvent(obj, successCallback, errorCallback) {
        $.ajax({
            type: "POST",
            url: "/Calendar/Delete",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj)
        }).done(function (msg) {
            if (msg.success) {
                successCallback();
            } else {
                errorCallback("Unable to update event");
            }
        });
    }
    function _loadEvents(visibleCalendars, successCallback, errorCallbackk) {
        $.ajax({
            type: "POST",
            url: "/Calendar/Get",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(visibleCalendars),
            success: function (data) {
                try {
                    successCallback(JSON.stringify(data));
                } catch (e) {
                    errorCallback("Unable to load events");
                }
            }
        });
    }
    function _updateCalendar(obj, successCallback, errorCallback) {
        successCallback();
        //errorCallback("Unable to save calendar");
    }
	</script>
<div id="eventscalendar"></div>